body{
font-family: 'Space Grotesk', sans-serif;
background-color: #FCFEFE;
color: #1B262C;
margin: 0;
}
ul{
list-style: none;
text-align: center;
}

.btn{
 background-color:#ef5350;
 width: 150px;
 border:none;
 color:white;
 padding:16px 32px;
 text-align:center;
 text-decoration:none;
 display:inline-block;
 font-size:16px;
 margin:4px 2px;
 -webkit-transition-duration:0.4s;
 transition-duration:0.4s;
 cursor:pointer;
 background-color:white;
 color:black;
 border:2px solid #ef5350;
}

.btn:hover {
  background-color: #ef5350;
  color: white;
}
.navbar{
    background-color: #ef5350;
}

.logo{
    width: 10%;
}

h1{
    text-transform: uppercase;
}

p{
    font-size: 20px;
}
