body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #fcfefe;
  color: #1b262c;
  margin: 0;
}
ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-inline .form-control {
  height: auto;
  margin: 4px 2px;
  padding: 16px;
  width: 150px;
}

.btn {
  background-color: #ef5350;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #ef5350;
}

.btn:hover {
  background-color: #ef5350;
  color: white;
}

.btn:focus {
  box-shadow: none;
}
.navbar {
  background-color: #ef5350;
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: 20px;
}

.pokemon-img {
  width: 300px;
  max-width: 50%;
  min-height: 380px;
}

.pokemon-img-loading {
 background: url(../img/loading.gif) no-repeat center;
}
